{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <!-- Main -->
    <main>
        
        <section>
            <h2>
                Browse the different game categories below
            </h2>
        </section>
        
        <h4> Destiny 2 </h4>
        {% for event in events %}
            {% if event['category'] == 'Destiny 2' %}
            <section class="destiny-games">
                
                <div class="col-sm">

                    <h4> {{event.eventName}} </h4>
                    <p class="p">{{event.description}}</p>
                    <p class="p"> Date: {{event.date}} </p>
                    <p class="p"> Location: {{event.location}}</p>
                    <img class="cat-photo" src="{{event.image}}" alt="Game Banner">
                    
                </div>

                <a class="btn btn-primary" href="{{ url_for('main.eventDetails') }}" role="button"> Details </a>

            </section>
            {% endif %}
        {% endfor %}

        <h4> League of Legends </h4>
        {% for event in events %}
            {% if event['category'] == 'League of Legends' %}
            <section class="destiny-games">
                
                <div class="col-sm">

                    <h4> {{event.eventName}} </h4>
                    <p class="p">{{event.description}}</p>
                    <p class="p"> Date: {{event.date}} </p>
                    <p class="p"> Location: {{event.location}}</p>
                    <img class="cat-photo" src="{{event.image}}" alt="Game Banner">
                    
                </div>

                <a class="btn btn-primary" href="{{ url_for('main.eventDetails') }}" role="button"> Details </a>

            </section>
            {% endif %}
        {% endfor %}

        


        <section>
            <p class="end-page">
                End of events categories list... Come back later for more or <a href="eventCreation.html">upload your own</a>
            </p>
        </section>

        <!-- Bootstrap CSS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </main>
{% endblock %}
