{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<main>
  <h2>
    Browse the gaming events below or even create your own!
  </h2>
  </section>
  
  <section>
    <a class="btn btn-primary" href="{{ url_for('main.category') }}" role="button"> Categories </a>
  </section>

  <section>
    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h3>Destiny 2 Raid Party</h3>
          <p class="status-active">
            <i>Available, only 2 left</i>
          </p>

          <p>
            Looking for raid party members to join our raid and have fun!
          </p>
          <p>
            <b>Date:</b> <br>
            14/5/2022 <br>
            <b>Time:</b> <br>
            4:00pm AEST
          </p>
          <!-- Image is sourced from Bungie Destiny 2 game galley images. https://www.bungie.net/7/en/destiny/newlight (2022) -->
          <img class="home-img" src="../static/img/destiny2raid.png" alt="Destiny 2 Website Image">

          <a class="btn btn-primary" href="{{ url_for('main.eventDetails') }}" role="button"> Details </a>
        </div>

        <div class="col-sm">
          <h3>League Of Legends Competition</h3>
          <p class="status-booked">
            <i>Booked</i>
          </p>
          <p>
            Looking for competitors or teams to join in a LOL Epsorts competition
          </p>
          <p>
            <b>Date:</b> <br>
            20/6/2022 <br>
            <b>Time:</b> <br>
            6:00pm AEST
          </p>
          <!-- Image is soruced from https://www.leagueoflegends.com/en-au/news/game-updates/patch-12-5-notes/  -->
          <img class="home-img" src="../static/img/lol.jpg" alt="League of Legends Website Image">
          <a class="btn btn-primary" href="ahsdgkjashdkas" role="button">Details</a>
        </div>

      </div>
    </div>
  </section>

  <section>
    <p class="end-page">
      End of events list... Come back later for more or <a href="{{ url_for('main.eventCreation') }}">upload your own</a>
    </p>
  </section>

  <!-- Bootstrap CSS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</main>

{% endblock %}
