/* CSS Styles */


.col-sm{
    border: 1px solid grey;
}

.btn-primary{
    border: 1px solid #ffc966;
    background-color: #ffc966;
}

.btn{
    margin: 3%;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    height: 100%;
}

.navbar-light{
    background-color: #ffc966;
}

.footer-light{
    background-color: #ffc966;
}

h1{
    text-align: left;
    padding-top: 2%;
    padding-left: 3%;
}

h2{
    text-align: left;
    font-size: x-large;
    padding: 3%;
}

h3 {
    text-align: left;
    font-size: larger;
    padding-right: 3%;
    padding-top: 10px;
}

h4{
    text-align: left;
    font-size: large;
    padding-left: 3%;
}

footer{
    background-color: #ffc966;
    padding: 2%;
}

.foot{
    text-align: center;
}

.home-img{
     width: 90%;
     padding-left: 10%;
     padding-bottom: 5%;
}

.details-page{
    width: 60%;
    float: right;
    padding-top: 2%;
    padding-right: 2%;
}

.detailstxt{
    float: inline-start;
}

.details{
    padding-left: 3%; 
    padding-right: 2%;
}

.end-page{
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.status-active{
    padding-left: 3%;
    color: green;
}

.status-booked{
    padding-left: 3%;
    color: red;
}

.creation-details{
    padding-left: 3%;
    padding-right: 2%;
}

.container-user{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.user-img{
    width: 50%;
    float: right;
    
}

.user-info{
    padding-left: 3%;
    font-style: italic;
}

.form-label{
    padding-left: 3%;

}

.modal-event{
    padding-bottom: 5%;
}

.form-creation{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.logintxt{
    text-align: left;
    padding-left: 3%;
}

.behind-login{
    padding-left: 3%;
    padding-bottom: 3%;
}

.col-md-6{
    padding-left: 3%;
}

#Check{
    margin-top: 15px;
}

#name{
    margin-top: 15px;
}

#email{
    margin-top: 15px;
}

#uploadimg{
    margin-top: 15px;
}

#eventdetails{
    margin-top: 15px;
}

#ticknumbers{
    margin-top: 15px;
}

#price{
    margin-top: 15px;
}

#eventname{
    margin-top: 15px;
}

#date{
    margin-top: 15px;
}

#time{
    margin-top: 15px;
}

#location{
    margin-top: 15px;
}

#tickets{
    margin-top: 15px;
}

#payment{
    margin-top: 15px;
}

#ccv{
    margin-top: 15px;
}

#expire{
    margin-top: 15px;
}

#paymentchoice{
    margin-top: 15px;
}

.comments{
    margin: 10%;
}

#newcomment{
    margin-top: 15px;
}

#oldcomment{
    margin-top: 15px;
}
/* !! Categories Button !! */

.dropbtn {
    background-color: #ffc966;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 3%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ffc966;
  }
